.infoIcon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .tooltip {
    display: none;
    position: absolute;
    top: 100%;
    right: 100;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 150px;
  }
  
  .infoIcon:hover .tooltip {
    display:block;
  }
  
  .tooltip h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .tooltip h5 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .tooltip p {
    margin: 2px 0;
    font-size: 12px;
  }